/*визначають до яких html елементів застосовуються css стилі*/
/*селектори тегів*/
body {
  font-family: Arial, sans-serif; /*шрифт для всього тексту сторінки*/
  color: #333;
  background-color: #f8f8f8;
  margin: 0; 
  padding: 0; 
}

/*селектори класів*/
.br-style { /*відступи зверху і знизу елементів*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight { /*курсивний жирний текст темно-сірий*/
  font-style: italic;
  font-weight: bold;
  color: #555; 
}

/*селектори дочірніх елементів*/
nav > ul > li { /*"дерево" дочірніх елементів*/
  display: inline-block;
  padding-right: 10px;
}

/*cелектори сусідів*/
h2 + p { /*відступ та розмір шрифту р*/
  margin-top: 0;
  font-size: 18px;
}

/*cелектори атрибутів*/
[id] {
  color: darkblue;
}

/*cелектори атрибутів з частковим співпадінням значення*/
[class~="str-style"] { /*вибирає елементи у яких значення класу містить str-style як окреме слово*/
  font-style: italic;
  font-weight: bold;
  color: #555;
}

[class|="br-style"] { 
  border-bottom: 1px solid black;
}

/*псевдокласи*/ /*додають стилі до елеменітів на основі їх стану або позиції*/
a:hover { /*наведення курсору на елемент*/
  text-decoration: underline;
}

a:active { /*коли елемент активний(типу натискання на посилання)*/
  color: red;
}

input:focus { /*коли елемент має фокус*/
  border-color: blue;
}

p:first-child { /*вибирає перший дочірній елемент батьківського контейнера*/
  font-size: 22px;
  font-weight: bold;
}

p:last-of-type { /*останній елемент певного типу серед своїх "братів"*/
  margin-bottom: 20px;
}

input:invalid { /*некоректно заповнені поля форми*/
  border: 2px solid red;
}

span:lang(uk) { /*елементи зі вказаною мовою(типу uk для української)*/
  font-weight: bold;
}

/*псевдоелементи*/ /*стилізація частин елементів або додання нового контенту до елементу*/
p::first-line { /*перший рядок тексту елемента*/
  font-size: 18px;
  font-weight: bold;
}

h1::before { /*додає вміст перед вмістом елемента*/
  content: "📌 ";
  font-size: 24px;
  color: gray;
}

/*важливий стиль*/
h1 {
  color: green !important; /*стиль найвищого пріорутету і не може бути перекритий іншими*/
  margin-top: 20px;
  margin-bottom: 10px;
}

/*границі, заповнювачі та рамки*/
p {
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  border-top-width: thin;
  border-bottom-width: 2px;
  border-left-style: solid;
  border-left-color: green;
  color: blue; /*заголовки h2 залишаються синіми*/
}

h3 {
  border-bottom-style: ridge;
  border-right-style: outset;
  border-right-color: #333;
  color: red; /*заголовки h3 будуть червоними*/
}

/*позиціювання елементів*/ /*визначає як елементи розташовані на сторінці і як взаємодіють між собою*/
nav {
  display: block;
  position: absolute;
  top: 0; /*розміщення елемента*/
  left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /*робить всі елементи в одному рядку*/
}

li {
  display: inline; /*забезпечує, щоб елементи списку йшли один за одним*/
  margin-right: 15px;
}

/*візуалізація елементів*/
.container {
  max-width: 1200px; /*макс ширина*/
  min-width: 300px; /*мін ширина*/
  height: auto;
  line-height: 1.6; /*висота рядка*/
  vertical-align: top; /*вирівнювання по вертикалі*/
}

div {
  overflow: hidden; /*визначає, як вміст, що виходить за межі елемента, буде оброблено*/
  clip: rect(10px, 100px, 100px, 10px); /*вирізє частину елемента а вказаними розмірами*/
}

/*колір та фон*/
h1, h2, h3 {
  color: blue; /*?????можливо перекриває колір для h3*/
}

body {
  background-color: #ffffff;
}

section {/*ДОДАТИ МАЛЮНОК НА ФОН*/
  background-image: url('background.jpg');
  background-attachment: scroll;
  background-position: left top;
}

/*додаткові стилі для класів*/
.br-style {
  border-bottom: 1px solid #000;
  margin: 10px 0;
}

.highlight {
  font-style: italic;
  font-weight: bold;
  color: #555; 
}
